h1{
  text-align: center;
  color:rgb(251, 251, 65)
}
.form-container{
  background-color: hsl(212, 45%, 36%);
  width:400px;
  height: 570px;
  padding: 20px;
  
}
.background-container{
  background-image: linear-gradient(to right, rgb(187, 207, 207), rgb(92, 162, 209));
}

label{
  color: rgb(236, 232, 224);
  font-size: 1.3rem;
  font-family:serif;
  font-weight:bold;
  display: inline-block;
  padding-top: 30px;
  width: 150px;
  padding-right: 10px;
}
.form-element{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 60%);
}

.btn{
margin-top: 50px;
width:100px;
height: 40px;
border-radius: 10px;
border: 3px solid hsl(0, 0%, 60%);
margin-left: 30px;
}

table,th,td{
  margin-top: 50px;
  border: 2px solid hsl(0, 0%, 30%);
  
}


